.nextButton {
  position: absolute;
  right: 120px;
  bottom: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  height: 90px;
  width: 300px;
  border: none;
  border-radius: 45px;
  background: #4946FD;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 32px;
  line-height: 39px;
  color: #FFFFFF;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.text {
  margin-right: 20px;
}

.image {
  border-radius: 45px;
  margin-bottom: 34px;
}