.header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 72px;
}

.title {
  margin: 0 0 22px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 49px;
  color: #B6018E;
}

.description {
  margin: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #242424;
}