.task {
  display: flex;
  justify-content: space-between;
}

.imageContainer {
  position: relative;
}

.expandBtn {
  position: absolute;
  right: 30px;
  top: 30px;
  width: 35px;
  height: 35px;
  background-color: transparent;
  background-image: url(./images/expand-btn.png);
  background-size: cover;
  border: none;
  cursor: pointer;
}

.corgi {
  width: 1000px;
  height: auto;
  border: none;
  border-radius: 30px;
  box-sizing: border-box;
}

.result {
  display: flex;
  flex-direction: column;
}

.resultTitle {
  margin: 0 0 50px;
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 600;
  font-size: 24px;
  line-height: 153.18%;
  max-width: 493px;
  color: #B6018E;
}

.resultInput {
  width: 277.59px;
  height: 70px;
  background: rgba(217, 217, 217, 0.42);
  border: 1px solid #B6018E;
  border-radius: 35px;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 154.9%;
  color: #242424;
  text-align: center;
}